<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
<h1>ブログ一覧</h1>
ログインユーザ名 
<%= name %>
<div>
	<%= isLogin ? "ログインしています" : "ログインしていません" %>
</div>
</body>
</html>